body{
    background-color: #F2F2F2;
    padding : 10px 30px 0 30px;
    font-family: 'Raleway', sans-serif;
}


header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-right: 30px;
}



.bar_recherche{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar_recherche i{
    height: 100%;
    width: 50px;
    background-color: #D9D9D9;
    border-radius: 20px 0 0 20px;
    border-width: 5px;
}
.bar_recherche input{
    height: 100%;
    font-family: 'Raleway';
}
.bar_recherche button{
    color: white;
    background-color: #0065FC;
    font-family: 'Raleway-Bold';
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 15px;
}

.filter_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bloc_butons_filtre{
    display: flex;
    flex-direction: row;
}

.filtre{
    width: auto;
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #D9D9D9;
    /*background-color: #DEEBFF; quand active*/
}
.filter_bar i{
    color: #0065FC;
}

#hebergement{
    background-color: blue;
}

#bloc_hebergement{
    width: auto;
    margin: auto 10px auto 10px;
    background-color: cyan;
}

.card {
    width: 300px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #DEEBFF;
}

.card img{
    object-fit: fill;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

#bloc_hebergement_populaire{
    background-color: blueviolet;
}


#bloc_activites{
    background-color: rosybrown;
}

.activite{
    width: 25%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #DEEBFF;
}

footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
}

.colonne_footer{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}
.links{
    margin-top: 5px;
}



#logo{
    width: 61px;
}




h1{
    color : black;
}

h2{
    color: black;
}

p{
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-top: 10px solid #0065FC ;
}
a:active{
    color: #0065FC;
}


.grey_star {
    color: #D9D9D9;
}

/* .image_{
    background-image: url("images/Images_Booki/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
} */
