body{
    background-color: white;
    padding : 0 30px 0 30px;
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}


/* ---------------------------------------------------
  header
----------------------------------------------------- */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------------
  header nav
----------------------------------------------------- */
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-right: 30px;
}
nav a{
    height: 100%;
    line-height: 100px;
}
nav a:hover{
    border-top: 5px solid #0065FC ;
    line-height: 92px !important;
}
nav a:active{
    color: #0065FC;
}

/* ---------------------------------------------------
  header Recherche
----------------------------------------------------- */
.recherche{
    margin-bottom: 37px;
}
.bar_recherche{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#icon_looking{
    height: 50px;
    width: 50px;
    background-color: #D9D9D9;
    border-radius: 15px 0px 0px 15px;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon_looking i{
    color: black;
}
.bar_recherche input{
    font-family: 'Raleway';
    height: 100%;
    box-sizing: border-box;
}
.bar_recherche button{
    color: white;
    background-color: #0065FC;
    font-family: 'Raleway';
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 15px;
    cursor: pointer;
}

/* ---------------------------------------------------
  header filtre bar
----------------------------------------------------- */
.filter_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
#bloc_butons_filtre{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.filtre{
    width: auto;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-color: #D9D9D9;
    background-color: white;
    font-family: 'Raleway';
    font-size: 17px;

    /*background-color: #DEEBFF; quand active*/
}
.filter_bar i{
    height: 22px;
    width: 22px;
    color: #0065FC;
}
.filtre:hover{
    background-color: #DEEBFF;
}


/* ---------------------------------------------------
  HEBERGEMENT A MARSEILLE
----------------------------------------------------- */
#bloc_hebergements{   
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}
#hebergements_Marseille:nth-child(1){
    flex: 2;
}
#hebergements_Marseille{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
}
#grid_hebergements{
    margin: auto 10px auto 10px;
    /*background-color: cyan;*/
}
.raw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    gap: 30px;   
}

/* ---------------------------------------------------
  hebergement card 
----------------------------------------------------- */
.card{
    height: 190px;
    width: 250px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card img{
    object-fit: cover;
    justify-self: center;
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card figcaption{
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.card h2, .card p, .card div{
    margin: 0;
}

/* ---------------------------------------------------
  HEBERGEMENT POPULAIRE
----------------------------------------------------- */
#column{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bloc_hebergement_populaire{
    background-color: #F2F2F2;
}
#hebergements_populaire{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
}
#hebergements_populaire:nth-child(2){
    flex: 1;
}
#line_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#line_title i{
    height: 18px;
}

/* ---------------------------------------------------
  HEBERGEMENT POP CARD
----------------------------------------------------- */
.card_pop{
    height: 144px;
    width: 343px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
}
.card_pop_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_pop img{
    object-fit: cover;
    justify-self: left;
    /*width: 100%;*/
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card_description{
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
/* ---------------------------------------------------
  ACTIVITES
----------------------------------------------------- */
#bloc_activites{
   /* background-color: #F2F2F2;*/
   width: 100%;
   margin-top: 60px;
   margin-bottom: 60px;
}
#activite_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_activite{
    height: 445px;
    width: 302px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
.card_activite img{
    object-fit: cover;
    justify-self: center;
    /*width: 100%;*/
    height: 394px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */
footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}
.colonne_footer{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}
.links{
    margin-top: 5px;
}



#logo{
    width: 61px;
}



/* ---------------------------------------------------
  LE RESTE
----------------------------------------------------- */
h1{
    color : black;
    font-weight: bold;
}

h2{
    color: black;
    font-size: 16px;
}

p{
    color: black;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
}

.stars_content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fa-solid{
    color: #0065FC;
}
.grey_star{
    color: #D9D9D9;
}

#indicator{
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid black ;
    border-radius: 50%;
}
/*
h1, h2, h3, h4, h5, p, span, label, img {
    margin: 0px;
  }*/
/* .image_{
    background-image: url("images/Images_Booki/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
} */
